# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs
cache

# Files from Forge MDK
forge*changelog.txt

# LightIoC path
/src/main/java/space
/src/main/scala/space
